<!-- ****** THE BELOW DIV IS USED IN THE ROUTING TO ENABLE EASY NAVIGATION TO SCROLL BACK TO THE TOP ****** -->
<div id="gallery-top" style="height: 20px;"></div>

<section id="gallery-aquatics" class="bg-white">
    <!-- ****** GALLERY SIGHT SEEING ****** -->
   <div id="sight-seeing">
    <h2 class="text-center my-3">Gallery-Sight Seeing</h2>
    <div class="gallery-slide">
        <div><img data-lazy="../assets/images/gallery3.jpg"  alt="nexus-aquarium"></div>
        <div><img data-lazy="../assets/images/gallery1.jpg"  alt="nexus-aquarium"></div>
        <div><img data-lazy="../assets/images/gallery4.jpg"  alt="nexus-aquarium"></div>
        <div><img data-lazy="../assets/images/gallery2.jpg"  alt="nexus-aquarium"></div>
        <div><img data-lazy="../assets/images/image1.jpg"    alt="nexus-aquarium"></div>
        <div><img data-lazy="../assets/images/gallery5.jpg"  alt="nexus-aquarium"></div>
        <div><img data-lazy="../assets/images/gallery6.jpg"  alt="nexus-aquarium"></div>
        <div><img data-lazy="../assets/images/gallery7.jpg"  alt="nexus-aquarium"></div>
    </div>
    <div class="control-buttons ">
        <i class="fa fa-arrow-left mx-3" id="slick-previous"></i>
        <i class="fa fa-arrow-right mx-3" id="slick-next"></i>
    </div>
   </div>
   <!-- ****** GALLERY SIGHT SEEING END ****** -->

    <div id="aquatics" class="bg-white">
        <!-- ****** AQUATIC ANIMALS ****** -->
        <h2 class="text-center my-2">Gallery-Aquatics</h2>

        <div class="d-md-flex align-items-center justify-content-evenly aquatics-details">
            <div><img class="lazyload" data-src="../assets/images/jellyfish.jpg" alt=""></div>
            <div class="mx-md-5">
                <h2 class="my-4 text-left text-dark">JELLYFISH</h2>
                <p class="text-left text-dark">Jellyfish are marine invertebrates belonging to the Scyphozoan class of the Cnidaria phylum. The body of an adult jellyfish is composed of a bell-shaped, jellylike substance enclosing its internal structure, from which the creature's tentacles suspend.</p>
            </div>
        </div>
        <div class="d-md-flex align-items-center justify-content-evenly aquatics-details sm-shark">
            <div class="mx-md-5"><img class="lazyload" data-src="../assets/images/shark.jpg" alt=""></div>
            <div>
                <h2 class="my-4 text-left text-dark">SHARK</h2>
                <p class="text-left text-dark">Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head. Modern sharks are classified within the clade Selachimorpha (or Selachii) and are the sister group to the rays. However, the term "shark" has also been used to refer to extinct members of the subclass Elasmobranchii, which are technically outside the Selachimorpha clade. Notable examples of improper classification include Cladoselache, Xenacanthus, and various other members of the Chondrichthyes class like the holocephalid eugenedontidans.</p>
            </div>
        </div>
        <div class="d-md-flex align-items-center justify-content-evenly aquatics-details lg-shark">
            <div>
                <h2 class="my-4 text-left text-dark">SHARK</h2>
                <p class="text-left text-dark">Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head. Modern sharks are classified within the clade Selachimorpha (or Selachii) and are the sister group to the rays. However, the term "shark" has also been used to refer to extinct members of the subclass Elasmobranchii, which are technically outside the Selachimorpha clade. Notable examples of improper classification include Cladoselache, Xenacanthus, and various other members of the Chondrichthyes class like the holocephalid eugenedontidans.</p>
            </div>
            <div class="mx-md-5"><img class="lazyload" data-src="../assets/images/shark.jpg" alt=""></div>
        </div>
        <div class="d-md-flex align-items-center justify-content-evenly aquatics-details">
            <div><img class="lazyload" data-src="../assets/images/goldfish.jpg" alt=""></div>
            <div class="mx-md-5">
                <h2 class="my-4 text-left text-dark">GOLDFISH</h2>
                <p class="text-left text-dark">The goldfish (Carassius auratus) is a freshwater fish in the family Cyprinidae of order Cypriniformes. It is commonly kept as a pet in indoor aquariums, and is one of the most popular aquarium fish. Goldfish released into the wild have become an invasive pest in parts of North America.</p>
            </div>
        </div>
        <div class="d-md-flex align-items-center justify-content-evenly aquatics-details sm-shark">
            <div class="mx-md-5"><img class="lazyload" data-src="../assets/images/fish3.jpg" alt=""></div>
            <div>
                <h2 class="my-4 text-left text-dark">TURTLE</h2>
                <p class="text-left text-dark">Turtles are an order of reptiles known as Testudines, characterized by a shell developed mainly from their ribs. Modern turtles are divided into two major groups, the side-necked turtles and hidden neck turtles which differ in the way the head retracts. There are 360 living and recently extinct species of turtles, including tortoises and terrapins. They are found on most continents, some islands and much of the ocean. Like other reptiles, birds, and mammals, they breathe air and do not lay eggs underwater, although many species live in or around water. Genetic evidence typically places them in close relation to crocodilians and birds</p>
            </div>
        </div>
        <div class="d-md-flex align-items-center justify-content-evenly aquatics-details lg-shark">
            <div>
                <h2 class="my-4 text-left text-dark">TURTLE</h2>
                <p class="text-left text-dark">Turtles are an order of reptiles known as Testudines, characterized by a shell developed mainly from their ribs. Modern turtles are divided into two major groups, the side-necked turtles and hidden neck turtles which differ in the way the head retracts. There are 360 living and recently extinct species of turtles, including tortoises and terrapins. They are found on most continents, some islands and much of the ocean. Like other reptiles, birds, and mammals, they breathe air and do not lay eggs underwater, although many species live in or around water. Genetic evidence typically places them in close relation to crocodilians and birds.</p>
            </div>
            <div class="mx-md-5"><img class="lazyload" data-src="../assets/images/fish3.jpg" alt=""></div>
        </div>
        <div class="d-md-flex align-items-center justify-content-evenly aquatics-details">
            <div><img class="lazyload" data-src="../assets/images/fish4.jpg" alt=""></div>
            <div class="mx-md-5">
                <h2 class="my-4 text-left text-dark">ASIAN ELECTRIC EEL</h2>
                <p class="text-left text-dark">Electrophorus is a genus of Neotropical freshwater fish in the family Gymnotidae, commonly called electric eels. They are known for their ability to stun their prey by generating electricity. Despite their name, electric eels are not closely related to the true eels (Anguilliformes) but are members of the neotropical knifefish order (Gymnotiformes), which is more closely related to the catfish. It was believed to be a monotypic genus for over two centuries, until the unexpected 2019 discovery of two additional species.</p>
            </div>
        </div>
    </div>
    <!-- ****** AQUATIC ANIMALS END ****** -->
</section>

<!-- ****** SECTION FOR AQUATICS TABLE ****** -->
<section>
    <div id="aquatic-table" class="p-3 table-list" ng-controller="tableController">
        <h1 class="text-center my-4" id="aquatic-table-top">AQUATICS-NEXUS AQUARIUM</h1>
        <div class="table-div table-scroll">
          <table>
            <tr class="sticky-top">
              <th>Common name(s)</th>
              <th>Binomial name</th>
              <th>Wild/Cultivated</th>
              <th>Count</th>
              <th>Endangered</th>
            </tr>
            <tr ng-repeat="x in info">
              <td>{{x.commonName}}</td>
              <td>{{x.binomialName}}</td>
              <td>{{x.specie}}</td>
              <td>{{x.count}}</td>
              <td>{{x.endangered}}</td>
            </tr>
          </table>
        </div>
    </div>
</section>
<!-- ****** SECTION FOR AQUATICS TABLE END ****** -->
